html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #ffffff;
  padding: 10px 40px 5px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img{
 width: 80px; 
 height: auto;
 border-radius: 6px; 
}

main{
    padding: 20px;
    background-color:#dfdddd;
    flex:1;
}

section h1{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
}

section h2{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
}

article{
    padding: 20px 100px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
}

nav a {
  color: #000000;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

nav a:hover {
  text-decoration: underline;
}

figure {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 40px;
}

.curso {
  text-align: center;
}

.curso img {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  object-fit: cover;
}


.curso img:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
}

.curso figcaption a {
  color:#000000;
  margin-top: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-decoration: none;
}

.curso figcaption a:hover {
  text-decoration: underline;
}

footer p{
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
