<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio A - Inscrição</title>

    <script th:src="@{/js/script.js}"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>
</head>
<body>

    <header>

        <a th:href="@{/listar}"><img th:src="@{/img/logo.png}"alt="Logo Studio A"/></a>
        
        <nav>
            <a th:href="@{/}">Início</a>
            <a th:href="@{/cartoon}">Cartoon</a>
            <a th:href="@{/manga}">Mangá</a>
            <a th:href="@{/realismo}">Realismo</a>
            <a th:href="@{/inscricao}">Inscrição</a>
        </nav>
        
    </header>

    <main>

        <section>
            <h1>Inscreva-se</h1> 
        </section>
  
        <article>
            <div th:if="${erro}" style="color:red; font-weight: bold;">
                <p th:text="${erro}"></p>
            </div>
            <form th:action="@{/inscricao}" method="post" th:object="${aluno}">

                <label>Nome:</label> <br> <input type="text" th:field="*{nome}" required> <br>
                <label>CPF:</label> <br> <input type="text" th:field="*{cpf}" required> <br>
                <label>Técnica:</label> <br> 
                    <select th:field="*{tecnica}" required>
                        <option value="" disabled selected>-- Selecione uma técnica --</option>
                        <option value="Realismo">Realismo</option>
                        <option value="Manga">Mangá</option>
                        <option value="Cartoon">Cartoon</option>
                    </select> <br>
                    <input style="font-family: 'Poppins', sans-serif;" type="submit" value="Inscrever-se">
            </form>
        </article>
    </main>

    <footer>

        <p><strong>contato@studioaacademia.com.br</strong></p>
        <p><strong>&copy; 2024 Studio A - Academia de Desenho. Todos os direitos reservados.</strong></p>
    </footer>

</body>
</html>