<!DOCTYPE html>
<html xlmns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Studio A - Lista de Alunos</title>

    <script th:src="@{/js/script.js}"></script>
    <link th:href="@{/css/index.css}" rel="stylesheet"/>

</head>
<body>

    <header>

        <img th:src="@{/img/logo.png}"alt="Logo Studio A"/>
        
        <nav>
            <a th:href="@{/}">Início</a>
            <a th:href="@{/cartoon}">Cartoon</a>
            <a th:href="@{/manga}">Mangá</a>
            <a th:href="@{/realismo}">Realismo</a>
            <a th:href="@{/inscricao}">Inscrição</a>
        </nav>
        
    </header>

    <main>

        <section>
            <h1>Lista de Alunos</h1> 
        </section>
        
        <table>
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>CPF</th>
                    <th>Técnica</th>
                    <th>       </th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="aluno : ${alunos}">
                    <td th:text="${aluno.id}"></td>
                    <td th:text="${aluno.nome}"></td>
                    <td th:text="${aluno.cpf}"></td>
                    <td th:text="${aluno.tecnica}"></td>
                    <td><a th:href="@{'/upd/inscricao/' + ${aluno.id}}">Editar</a></td>
                </tr>

            </tbody>
        </table>

    </main>

    <footer>

        <p><strong>contato@studioaacademia.com.br</strong></p>
        <p><strong>&copy; 2024 Studio A - Academia de Desenho. Todos os direitos reservados.</strong></p>
    </footer>

</body>
</html>